%h2
  Game Details
  %br
  %small
    Recorded #{@game.pretty_date} by
    = link_to @game.creator.name, user_path(@game.creator)

%hr

.row
  - @game.teams.each do |team|
    .col-md-6
      .panel.panel-primary
        .panel-body
          %h1
            = team.goals
            %small= 'goal'.pluralize(team.goals)
          %hr
          - team.players.each do |player|
            .row
              .col-xs-6
                %h3
                  = link_to player.name, user_path(player.user)
                  %small= player.position.capitalize
              .col-xs-6.text-right
                %h3
                  = player.rank
                  %small (#{'%+d' % player.rank_delta})

- if user_signed_in?
  - disabled = 'disabled' unless can_modify_game(@game)
  .buttons
    = link_to 'Edit Game', edit_game_path(@game),
        class: ['btn', 'btn-primary', disabled]
    = link_to 'Delete Game', game_path(@game),
        class: ['btn', 'btn-danger', disabled],
        data: { confirm: 'Are you sure?' },
        method: :delete
= link_to 'Back', games_path
