!!!
%html
  %head
    %title= "#{Rails.configuration.league_name} League"
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-static-top{ role: 'navigation' }
      .container= render 'layouts/navbar'
    .container
      .sub-container{ class: (sub_container_classes if defined?(sub_container_classes)) }
        = render 'layouts/flash_messages'
        = yield
